body {
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* Fix for preserving font sizes on iPhones (at least) */
   -webkit-text-size-adjust: 100%;
}

#just-a-slider {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  height: 60px;
  width: 740px;
  border-radius: 3px;
}

#just-a-slider .handle {
  height: 60px;
  line-height: 60px;
  border-radius: 3px;
}

#just-a-slider .value {
  padding: 0 0 0 5px;
  font-size: 30px;
  font-weight: bold;
}
