.demo .dragdealer {
  background: #e1e1e1;
  height: 40px;
  border-radius: 3px;
}
  .demo .dragdealer .red-bar {
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 3px;
  }

/* Just a slider */

#just-a-slider {
  /* no custom style */
}
  #just-a-slider .tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    height: 50px;
    margin: -26px 0 0 10px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    color: #333;
    font-size: 18px;
    line-height: 50px;
  }
    #just-a-slider .tooltip .value {
      font-size: 24px;
      font-weight: bold;
    }

/* Slide to unlock */

.slide-to-unlock {
  position: relative;
  width: 400px;
  height: 80px;
}
  .slide-to-unlock .dragdealer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    background: none;
    height: auto;
  }
    .slide-to-unlock .handle {
      height: 100%;
      border-radius: 0;
    }
    .slide-to-unlock .disabled {
      background: none;
    }
    .slide-to-unlock .slide-text {
      position: absolute;
      top: 0;
      height: 80px;
      font-size: 30px;
      line-height: 80px;
      text-align: center;
    }

/* Old slide to unlock */

.old-slider {
  border-radius: 16px;
  background: #222;
  background-image: -webkit-linear-gradient(top, #111 0%, #333 100%);
  background-image: -moz-linear-gradient(top, #111 0%, #333 100%);
  background-image: -o-linear-gradient(top, #111 0%, #333 100%);
  background-image: linear-gradient(to bottom, #111 0%, #333 100%);
}
  .old-slider .dragdealer {
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
  }
    .old-slider .slide-text {
      right: 0;
      width: 290px;
      height: 70px;
      color: #999;
      line-height: 70px;
      cursor: default;
    }
    .old-slider .handle {
      width: 100px;
      border-radius: 12px;
      background: #ccc;
      background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
      background-image: -moz-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
      background-image: -o-linear-gradient(top, #f1f1f1 0%, #aaa 100%);
      background-image: linear-gradient(to bottom, #f1f1f1 0%, #aaa 100%);
    }

/* Slide to unlock new */

.new-slider {
  background: #333344;
}
  .new-slider .dragdealer {
    overflow: hidden;
  }
    .new-slider .handle {
      width: 200%;
    }
      .new-slider .slide-text {
        left: 50%;
        width: 50%;
        color: #9999aa;
      }
